<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401813348561-f98ar4eqv2rgr867dfm8je0d7v97pcb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401813348561-f98ar4eqv2rgr867dfm8je0d7v97pcb4</string>
	<key>API_KEY</key>
	<string>AIzaSyA1OB5sBNT2Swuv3i3caBqlBeRQaPtbFRw</string>
	<key>GCM_SENDER_ID</key>
	<string>401813348561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sh.cao.blip</string>
	<key>PROJECT_ID</key>
	<string>blogs-c4641</string>
	<key>STORAGE_BUCKET</key>
	<string>blogs-c4641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401813348561:ios:90042da27c3e26031625f0</string>
	<key>DATABASE_URL</key>
	<string>https://blogs-c4641.firebaseio.com</string>
</dict>
</plist>